/*tipografia para el nombre de la pagina*/
$fuente-principal: 'Archivo Black', sans-serif;

/*tipografia para el nav*/
$fuente-nav: 'Montserrat', sans-serif;

/*tipografia para nombre productos*/
$fuente-nombre-producto: 'League Spartan', sans-serif;

/*tipografia para precios productos*/
$fuente-precio-producto: 'Arimo', sans-serif;

/*tipografia para Idraet*/
$fuente-idraet: 'Oswald', sans-serif;